.hover {
  background-color: transparent;
  border: 1px solid transparent;
  transform: scale(1);
  transition: background-color 0.2s cubic-bezier(0.075, 0.82, 0.165, 1),
    border-color 0.2s cubic-bezier(0.075, 0.82, 0.165, 1),
    transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hover:hover {
  background-color: var(--neutral-alpha-weak);
  border-color: var(--neutral-alpha-weak);
  transform: scale(1.05);
}

.hoverFull {
  transform: scale(1);
  transition: background-color 0.2s cubic-bezier(0.075, 0.82, 0.165, 1),
    border-color 0.2s cubic-bezier(0.075, 0.82, 0.165, 1),
    transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hoverFull:hover {
  background-color: var(--neutral-alpha-weak);
  border-color: var(--neutral-alpha-weak);
  transform: scale(1.05);
}

.adaptiveDesc {
  width: 50%;

  // Show the description on screens smaller than the mobile breakpoint
  @media (max-width: 768px) {
    width: 100%;
  }
}

.desktopLineBreak {
  .desktopLineBreak {
    // By default, the line break is visible (this is the desktop state)
    // No specific style needed here as <br> works by default.

    // Hide the line break on screens smaller than the mobile breakpoint
    @media (max-width: 768px) {
      display: none;
    }
  }
}
